# create a list of all profiles

In [2]:
from os import walk
from os.path import isfile, join
import glob
import pandas as pd
import xarray as xr
import numpy as np
import matplotlib.pyplot as plt
import gsw

processdir = '/home/jupyter-froqu/MEOP_process'
datadir = join(processdir,'final_dataset_prof')

/opt/tljh/user/lib/python3.7/site-packages/dask/config.py:168: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  data = yaml.load(f.read()) or {}

In [59]:
def N_PARAM(ds,PARAM):
    if PARAM+'_QC' in list(ds.variables):
        N_PARAM = np.sum((ds[PARAM+'_QC']==b'1'),axis=1)
    else:
        N_PARAM = xr.DataArray(np.zeros(ds.dims['N_PROF']), dims=['N_PROF'])
    return N_PARAM


list_df=[]
for (dirpath, dirnames, filenames) in walk(datadir):
    for dirname in dirnames:
        print(dirname)
        list_ncfile = glob.glob(join(dirpath,dirname,'{}-*_lr0_prof.nc'.format(dirname)))       
        for ncfile in list_ncfile:
            with xr.open_dataset(ncfile) as ds:
                data = {'SMRU_PLATFORM_CODE': ds.smru_platform_code,
                        'CYCLE_NUMBER': ds['CYCLE_NUMBER'].astype(int),
                        'JULD': ds['JULD'],
                        'LATITUDE': ds['LATITUDE'],
                        'LONGITUDE': ds['LONGITUDE'],
                        'N_TEMP' : N_PARAM(ds,'TEMP'),
                        'N_PSAL' : N_PARAM(ds,'PSAL'),
                        'N_CHLA' : N_PARAM(ds,'CHLA')}
            df = pd.DataFrame(data).set_index(['SMRU_PLATFORM_CODE','CYCLE_NUMBER'])
            list_df.append(df)
df_all = pd.concat(list_df)

hg42
rs18
ft22
wd11
ct54
ct81
ct40
rs34
ct114
ct141
ft06
eb04
ct109
ct17
ct132
ct41
ct152
rs9
ct103
ct95
ft02
ft07
ct155
ct77
BM03
ct32
ct143
ct82
ct21
ct75
ct30
ct6
ct118
ct128a
ct131
ct42
BM01
ct38w
ft23
ct45
ct122
ct133
ct100
ct64
kp01
ct121
ct59
ct27
ct84
hg19
ct43
ct146
rs19
ct96
ct135
ct35b
ct1
ct27x
rs17
ft12
ct57
awru1
ct35x
rs27
ct153
ct76
ct94
wd1
ct56
MY01
ct93
ct29
ct144
hg37g
hd2g
ft19
ct16
ct52
ct107
ct90
ct147
rs23
ct108
vc03
DL01
rs31
ct113
bs2
ct87
ct68
ct71
ct69
rs6
ct112
bv3
ct105
ft01
ct85
ct119
rs11
ct8
ct102
ct137
ct129
ct115
ft11
ct123
ct51
ct124
ct145
ct46
eb03
ct142
BM02
ct117
ct39
ct14
wd04
ct111
ct22
hd2bb
ct18
ct138
ct130
wd07
ct26
ft05
ct23
ct32x
wd10
rs14
hg4
ct49
ct35
bs1
hg47
ft15
hg9
ft03
ct150
ft17
ct86
ct47
ct120
wd12
ct48
ct148
ct136
rs29
ct20
ct83
ft08
ct99
ct15
ct37
ct3
ft25
ct156
ct106
ct44
ct2
ct55
ct61
ft14
ct23x
ct4
ft20
ft13
ct88
ct12
ct125
ct74
ft04
wd09
ft21
pv52
ct149
hd5bb
ct7
ct98
hd6
ct92
ct139
ft09
ct65
ct126
ct127
wd13
ct157
ct9
ct158
ct91
ft26
ct53
ct28
ct10
ft10
ct151
ct34
hg63
ct13
ct110
ct31
ct104
ct19
ct58
ct63
ct97
vc04
ct62
DL02
ct38e
ct101
ct73
hd2f
rs28
ct50
ct25
ct70
ft24
ct78
ct140
ct154
rs15
ct128
ct79
wd06
rs22
hd09
ct80
ct116
hg37
hp2
ct11
ft18
ct36
ct67
ct33
ct78d
rs32
ct134
ct89
hd3
wd3

In [60]:
df_all.to_pickle('list_meop.pkl')
#df_all.read_pickle('list_meop.pkl')

In [61]:
df_all

                                                JULD  LATITUDE  LONGITUDE  \
SMRU_PLATFORM_CODE CYCLE_NUMBER
hg42-P13-14        1             2015-09-15 08:14:00   68.9649    15.3049
                   2             2015-09-15 16:35:00   68.9625    15.2741
                   3             2015-09-16 18:45:00   68.9624    15.2727
                   4             2015-09-16 19:07:00   68.9612    15.2599
                   5             2015-09-16 22:10:00   68.9793    15.2637
...                                              ...       ...        ...
wd3-CTD2-07        403           2007-08-16 03:20:00  -66.5829   140.9800
                   404           2007-08-16 21:20:00  -66.5489   140.9620
                   405           2007-08-17 03:10:00  -66.5585   140.9630
                   406           2007-08-17 21:10:00  -66.5746   140.9810
                   407           2007-08-20 21:00:00  -66.5905   140.9450

                                 N_TEMP  N_PSAL  N_CHLA
SMRU_PLATFORM_CODE CYCLE_NUMBER
hg42-P13-14        1                 11      11     0.0
                   2                  3       0     0.0
                   3                  8       8     0.0
                   4                 13      13     0.0
                   5                  7       7     0.0
...                                 ...     ...     ...
wd3-CTD2-07        403               10      10     0.0
                   404               19      19     0.0
                   405               10      10     0.0
                   406               10      10     0.0
                   407               10      10     0.0

[737511 rows x 6 columns]